body{
  margin: 0;
  padding: 0;
}
.contenedor{
  margin: 0;
  padding: 0;
}
.caja{
  width: 231px;
  height: 231px;
}
#rosa{
  background-color: #EE3E64;
}
#azul{
  background-color: #2B7DB9;
  position: relative;
  left: 231px;
}
#verde{
  background-color: #B7D84B;
}
